[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
[submodule "sources/meta-mender-community"]
	path = sources/meta-mender-community
	url = git@github.com:mendersoftware/meta-mender-community.git
[submodule "sources/meta-mender"]
	path = sources/meta-mender
	url = git@github.com:mendersoftware/meta-mender.git
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = git@github.com:agherzan/meta-raspberrypi.git
	branch = warrior
[submodule "sources/meta-pseudodesign"]
	path = sources/meta-pseudodesign
	url = git@github.com:PseudoDesign/meta-pseudodesign.git
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git@github.com:PseudoDesign/meta-openembedded.git
