[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
[submodule "sources/meta-mender-community"]
	path = sources/meta-mender-community
	url = git@github.com:mendersoftware/meta-mender-community.git
